.nabVar{
  background-color: black !important;
}
.nabText{
  color: white !important;
}
.dropdown-divider{
  color: white !important;
}
.navItem{
  background-color: black !important;
}
.customCursor:hover {
  cursor: pointer;
}
.logo:hover{
  cursor: pointer;
}