<div class="customContainer">
    <div class="container customCont">
        <div>
            <h2 class="card-title customTitel">{{userName | titlecase}}</h2>
        </div>
        <div>
            <img class=" customImage" src="{{person.imageURI}}" alt="">
        </div>
    </div>
    <div class="card-body">
        <strong>Contacto</strong>
        <p class="mb-0">{{person.phone}} </p>
        {{person.email}}
        <hr>
        <strong>Fortalezas</strong>
        <p class="card-text">{{person.about}}</p>
        <div class="d-grid gap-2 col-4 mx-auto customDiv">
            <button class="btn btn-danger btn-sm btnCustom" type="button" (click)="goToCalendar(person.codigo)">Ver horarios</button>
        </div>
    </div>
</div>