.customText{
    margin-top: 4%;
    font-weight: 500;
    justify-self: center;
}

.customContent{
    /* padding-left: 10%;
    padding-right: 10%; */
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.customDisplay{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.customtable{
    padding: 5%;
}

@media (max-width: 1000px) {
    .customContent{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        height: 200%;
    }

    .customDisplay{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 23% 23% 23% 23%;
    }
}
