<div *ngIf="comment" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Cuentanos:</label>
        <label for="exampleFormControlTextarea1" class="form-label countInput">{{count}} caracteres de 30 mínimo</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="comment" (input)="countChart($event)"></textarea>
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="ModalForm.invalid" class="btn btn-success customButton"
          (click)="onSubmitForm('comment')">Enviar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="create" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3 px-2">
        <label class="form-label">Materia:</label>
        <select class="form-select" formControlName="subject">
          <option value="" disabled selected hidden>Seleciona una materia</option>
          <option *ngFor="let materia of subjects" value="{{materia.id+','+materia.description+','+title}}">{{materia.description}}</option>
        </select>
      </div>
      <div class="customFormDate">
        <div class="mb-3 customInput">
          <label class="form-label">Fecha:</label>
          <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="mb-3 customInput">
          <label class="form-label">Hora:</label>
          <input type="time" class="form-control" formControlName="time">
        </div>
      </div>
      <div class="customCheck">
        <label class="form-label">Modalidad:</label>
        <div class="">
          <div class="form-check form-switch customCheck">
            <input class="form-check-input customSwitch" type="checkbox" (click)="changeRoom()" formControlName="mode">
            <label class="form-check-label customLabel" for="flexSwitchCheckChecked">{{descRoom}}</label>
          </div>
          <div *ngIf="typeRoom" class="input-group input-group-sm customRoom">
            <span class="input-group-text" id="inputGroup-sizing-sm">Salón: </span>
            <input type="text" class="form-control customInput" formControlName="room">
          </div>
        </div>
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="ModalForm.invalid" class="btn btn-success customButton"
          (click)="onSubmitForm('create')">Enviar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="edit" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <label class="form-label">Materia:</label>
        <select class="form-select" formControlName="subject">
          <option value="" disabled selected hidden>Seleciona una materia</option>
          <option *ngFor="let materia of materias" value="{{materia.cod}}">{{materia.desc}}</option>
        </select>
      </div>
      <div class="customFormDate">
        <div class="mb-3 customInput">
          <label class="form-label">Fecha:</label>
          <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="mb-3 customInput">
          <label class="form-label">Hora:</label>
          <input type="time" class="form-control" formControlName="time">
        </div>
      </div>
      <div class="customCheck">
        <label class="form-label">Modalidad:</label>
        <div class="">
          <div class="form-check form-switch customCheck">
            <input class="form-check-input customSwitch" type="checkbox" (click)="changeRoom()" >
            <label class="form-check-label customLabel" for="flexSwitchCheckChecked">{{descRoom}}</label>
          </div>
          <div *ngIf="typeRoom" class="input-group input-group-sm customRoom">
            <span class="input-group-text" id="inputGroup-sizing-sm">Salón: </span>
            <input type="text" class="form-control customInput" formControlName="room">
          </div>
        </div>
      </div>
      <div class="customButtonAccions">
        <button type="submit" class="btn btn-primary customButton" (click)="onSubmitForm('edit')">Actualizar</button>
        <button class="btn btn-danger customButton" (click)="onSubmitForm('delete')">Eliminar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="reservation" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Duda a resolver:</label>
        <label for="exampleFormControlTextarea1" class="form-label countInput">{{count}} caracteres de 30 mínimo</label>
        <input type="text" hidden formControlName="id">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="question" (input)="countChart($event)"></textarea>
        <div class="input-group customUpload">
          <div class="popover__wrapper">
              <div class="popover__content">
                <p class="popover__message">Ayudanos a entender tu duda mediante una imagen (opcional)</p>
              </div>
              <img class="customIcon" src="../../../../assets/Info.png" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover" alt="">
          </div>
          <input type="file" class="form-control customInputFile" formControlName="file" (change)="handleImage($event)">
        </div>
      </div>
      <ng-container *ngIf="!loading">
        <div class="customButtonAccions">
          <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
          <button type="submit" [disabled]="ModalForm.invalid" class="btn btn-success customButton"
            (click)="onSubmitForm('reservation')">Confirmar</button>
        </div>
      </ng-container>
    </form>
  </div>
</div>

<div *ngIf="status" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <h3>¿Esta seguro que desea cambiar el estado del usuario {{user}} ?</h3>
      <hr>
      <P>Por favor escriba <strong>{{user}}</strong> para Confirmar</P>
      <div class="mb-3">
        <input type="text" class="form-control customInputFile" (input)="validatorRead($event)" [ngStyle]="{'border': cssBorder}">
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="disabled" class="btn btn-success customButton"
          (click)="onSubmitForm('status')">Confirmar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="newUser" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <h3>Para aceptar al usuario {{user}} primero debes asignarle un perfil para su ingreso</h3>
        <select class="form-select" formControlName="profile" (click)="validatorRole($event)">
          <option value="" disabled selected hidden>Seleciona un perfil</option>
          <option *ngFor="let role of roles" value="{{role.cod}}">{{role.desc}}</option>
        </select>
      </div>
      <hr>
      <P>Por favor escriba <strong>{{user}}</strong> para Confirmar</P>
      <div class="mb-3">
        <input type="text" class="form-control customInputFile" (input)="validatorRead($event)" [ngStyle]="{'border': cssBorder}">
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="disabled" [disabled]="disabledRole" class="btn btn-success customButton"
          (click)="onSubmitForm('newUser')">Confirmar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="editUser" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <h3>Esta seguro de editar al usuario {{user.name}}</h3>
        <p class="customRole">Rol:</p>
        <select class="form-select" formControlName="profile" (click)="validatorRole($event)">
          <option value="" disabled selected hidden>Seleciona un perfil</option>
          <option *ngFor="let role of roles" value="{{role.cod}}">{{role.desc}}</option>
        </select>
        <p class="customState">Estado:</p>
        <div class="form-check form-switch customCheck">
          <input class="form-check-input customSwitch" type="checkbox" (click)="changeState()" [checked]="stateCheck">
          <label class="form-check-label customLabel" for="flexSwitchCheckChecked">{{labelUser}}</label>
        </div>
      </div>
      <hr>
      <P>Por favor escriba <strong>{{user.name}}</strong> para Confirmar</P>
      <div class="mb-3">
        <input type="text" class="form-control customInputFile" (input)="validatorRead($event)" [ngStyle]="{'border': cssBorder}">
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="disabled" class="btn btn-success customButton"
          (click)="onSubmitForm('newUser')">Confirmar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="editSubject" class="customCard">
  <h2 mat-dialog-title class="customTitle">{{title}}</h2>
  <div mat-dialog-content>
    <form [formGroup]="ModalForm">
      <div class="mb-3">
        <h3>¿Seguro que desea modificar la asignatura <strong>{{subject.description}}</strong>?</h3>
      </div>
      <hr>
      <p>Si así lo es por favor ingrese el nuevo nombre:</p>
      <div class="mb-3">
        <input type="text" class="form-control customInputFile" formControlName="subjectName" >
      </div>
      <div class="customButtonAccions">
        <button class="btn btn-danger customButton" (click)="close()">Cancelar</button>
        <button type="submit" [disabled]="ModalForm.invalid" class="btn btn-success customButton"
          (click)="onSubmitForm('editSubject')">Confirmar</button>
      </div>
    </form>
  </div>
</div>