<h1 class="blockquote text-center customText">Programa tu horario</h1>
<div class="customContainer">
    <div class="customCalendar">
        <app-calendar [typeUser]=typeUser></app-calendar>
    </div>
    <div class="customColumCard">
        <div class="infoCard">
            <form [formGroup]="dataForm">
                <div class="container customCont">
                    <div class="containerTitle">
                        <h2 class="card-title customTitel">{{owner.userName | titlecase }}</h2>
                        <div>
                            <strong>Contacto</strong>
                            <div *ngIf="editMyData" class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Celular: </span>
                                <input type="number" class="form-control customInput" formControlName="phone">
                            </div>
                            <p class="mb-0 card-text" *ngIf="!editMyData"><strong>Cel: </strong>{{owner.tel}}</p>
                            <p class="mb-0 card-text"><strong>@ </strong>{{owner.email}}</p>
                        </div>
                    </div>
                    <div>
                        <img class=" customImage" src="{{owner.uriProfile}}" alt="">
                    </div>
                </div>
                <div class="container">
                    <hr>
                    <strong>Mis fortalezas</strong>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="skills"
                        *ngIf="editMyData"></textarea>
                    <p *ngIf="!editMyData" class="mb-0 card-text">{{owner.about}}</p>
                </div>
                <div class="row container customButtom">
                    <button mat-mini-fab color="primary" (click)="editData()" *ngIf="!editMyData">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="saveData()" *ngIf="editMyData">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="infoCard">
            <div class="container customCont2">
                <h2 class="card-title customTitel2">Resumen</h2>
                <p class="mb-0 card-text customSub">Cantidad de horas disponibles</p>
                <div class="customrow">
                    <div class="customNumber">
                        <p class="customCount">{{HourCountDis}}</p>
                    </div>
                    <div class="customDesc">
                        <p class="customLabel">Horas</p>
                    </div>
                </div>
                <p class="mb-0 card-text customSub">Cantidad de <a [routerLink]="['/home/tutor/reservas']">horas
                        reservadas</a></p>
                <div class="customrow">
                    <div class="customNumber">
                        <p class="customCount">{{HourCountReservation}}</p>
                    </div>
                    <div class="customDesc">
                        <p class="customLabel">Horas</p>
                    </div>
                </div>
                <p class="mb-0 card-text customSub">Materias registradas</p>
                <ng-container *ngFor="let materia of materias">
                    <li>{{materia.desc}}</li>
                </ng-container>
            </div>
        </div>
    </div>