.customRow{
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
}

.editBtn{
    justify-self: center;
    align-self: center;
}

.customImg{
    padding: 10%;
    border-radius: 50%;
    width: 90%;
}

.customDivider{
    margin: 0 !important;
}

.customDetail{
    align-self: center;
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
}

.customSubject{
    margin-bottom: 0;
}
.customName{
    cursor: context-menu;
    margin-bottom: 1%;
}

.customContent{
    cursor: context-menu;
}

.customStatus{
    -webkit-box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
    -moz-box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
    box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
    width: 70px;
    border-radius: 20px;
}

.customEdit{
    justify-self: end;
    margin-top: 10px;
}

.customContent{
    text-align: center;
    align-self: center;
}

.customActive{
    border-radius: 20px; 
    background-color: #40A64A;
}
.customEdit{
    border-radius: 20px; 
    background-color: #4486ED;
}

.customInactive{
    border-radius: 20px; 
    background-color: #B01818;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.status{
    margin: 2%;
    font-size: medium;
    color: white;
}

@media (max-width: 1000px) {
    .customImg{
        padding: 5%;
        border-radius: 50%;
        width: 80%;
    }

    .customRow{
        display: grid;
        grid-template-columns: 20% 80%;
    }
}