<div class="customRow">
        <div>
                <img class="customImg" src="{{person.imageURI}}" alt="">
        </div>
        <div class="customDetail">
                <div>
                        <h3 class="customName">{{person.name+' '+person.last_name | titlecase}}</h3>
                        <div class="customContent" *ngIf="state === 1">
                                <div class="customStatus">
                                        <div class="customActive">
                                                <p class="mb-0 status">{{statusShow}}</p>
                                        </div>
                                </div>
                        </div>
                        <div class="customContent" *ngIf="state === 2">
                                <div class="customStatus">
                                        <div class="customInactive">
                                                <p class="mb-0 status">{{statusShow}}</p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="editBtn">
                        <button type="button" class="btn btn-primary" (click)="changeRole()">Editar</button>
                </div>
        </div>
</div>
<hr class="customDivider">