<div class="customCont">
    <div class="customHead">
      <h1 class="customText">{{commentTable.title}}</h1>
    </div>
    <div class="customScroll">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="customTitle">{{commentTable.firstColum}}</th>
            <th scope="col" class="customTitle">{{commentTable.secondColum}}</th>
            <th scope="col" class="customTitle">{{commentTable.thirdColum}}</th>
            <th scope="col" class="customTitle">{{commentTable.fourColum}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of comments">
            <td class="customItem dateColum">{{comment.date}}</td>
            <td class="customItem ownerColum">{{comment.user}}</td>
            <td class="customItem ownerColum">{{comment.desc}}</td>
            <td class="customItem accionsColum">
              <div class="customColum">
                <button type="button" class="btn btn-primary mx-2 btn-sm customBtn"
                  (click)="acceptRequest(comment.cod, comment.user)">{{commentTable.firstBottom}}</button>
                <button type="button" class="btn btn-danger mx-2 btn-sm customBtn"
                  (click)="cancelRequest(comment.cod, comment.user)">{{commentTable.secondBottom}}</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>