.customText{
    margin-top: 4%;
    font-weight: 500;
    margin-bottom: 4%;
    justify-self: center;
    padding-left: 4%;
}

.customTitle{
    margin-top: 5%;
    font-weight: 590;
}    

.customContainer{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(97,0,0,1) 0%, rgba(240,240,240,0) 54%);
    display: flex;
}

.customContainer2{
    background: rgb(255,0,0);
    background: linear-gradient(265deg, rgba(255,0,0,1) 0%, rgba(97,0,0,1) 0%, rgba(240,240,240,0) 54%);
    display: flex;
}

.customImg{
    margin: 3%;
    height: 100%;
}

.containerChild{
    float: right;
}
.customParagraph{
    text-align: justify;   
}

.titleContainer{
    display: grid;
    grid-template-columns: 95% 5%;
}
.customIcon{
    align-self: center;
    justify-self: center;
    position: relative;
}
.customIcon:hover{
    align-self: center;
    justify-self: center;
}

.popover__wrapper {
    align-self: center;
    justify-self: center;
    position: relative;
}

.popover__content {
    opacity: 0;
    position: absolute;
    left: -240px;
    top: 55px;
    transform: translate(0, 10px);
    background-color: white;
    border-radius: 10px;
    border: solid;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
    text-align: center;
    margin-bottom: 0%;
}

.customLink{
    color: blue;
    text-decoration:  underline blue;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .customContainer{
        background: rgb(255,0,0);
        background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(97,0,0,1) 0%, rgba(240,240,240,0) 0%);
        display: block;
        padding: 3%;
    }

    .customContainer2{
        background: rgb(255,0,0);
        background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(97,0,0,1) 0%, rgba(240,240,240,0) 0%);
        display: block;
    }

    .customImg{
        padding: 8% 3% 3%;
        margin: 0;
        width: 100%;
        display: none;
    }
}