<div class="titleContainer">
    <h1 class="blockquote text-center customText">Servicios pensados para apoyarte</h1>
    <div class="popover__wrapper">
        <img class="customIcon" src="../../../../assets/Info.png" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover" alt="">
        <div class="popover__content">
            <p class="popover__message">¿No encuentras algo <a class="customLink" (click)="openModal()" >escríbenos</a> para ayudarte?</p>
        </div>
    </div>
</div>

<div class="container customContainer">
    <img class="customImg" src="../../../../assets/monitoria.png" width="450" height="500" alt="">
    <div class="container">
        <h1 class="customTitle">Monitorias</h1>
        <p class="customParagraph">orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus diam eget massa condimentum porta scelerisque non urna. Quisque finibus eget neque eget convallis. Cras non felis nisi. Integer eget mollis leo. Vestibulum in vehicula orci, vitae porttitor mi. Nunc lacinia mattis ante, eget bibendum sem efficitur eget. Integer cursus sapien velit, at molestie lectus dapibus at. Sed auctor nisi ac augue dapibus, ut vulputate tellus porta. Integer tincidunt sit amet tortor ut rhoncus. Morbi eu justo lacinia, aliquam justo in, blandit quam.
            Donec consectetur sagittis auctor. Vivamus laoreet tempor sodales. Donec eget velit dolor. Donec ex purus, finibus ac pulvinar sit amet, aliquet quis ante. Aenean dictum tempor quam id lacinia. Vivamus eu magna vel neque dapibus consectetur eget ac risus. Nulla vitae feugiat orci. Ut faucibus pulvinar mauris vitae imperdiet. Cras volutpat varius felis at ullamcorper. Nunc eu mattis massa.
            </p>
    </div>
</div>

<div class="container customContainer2">
    <div class="container">
        <h1 class="customTitle">Tutorías</h1>
        <p class="customParagraph">orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus diam eget massa condimentum porta scelerisque non urna. Quisque finibus eget neque eget convallis. Cras non felis nisi. Integer eget mollis leo. Vestibulum in vehicula orci, vitae porttitor mi. Nunc lacinia mattis ante, eget bibendum sem efficitur eget. Integer cursus sapien velit, at molestie lectus dapibus at. Sed auctor nisi ac augue dapibus, ut vulputate tellus porta. Integer tincidunt sit amet tortor ut rhoncus. Morbi eu justo lacinia, aliquam justo in, blandit quam.
            Donec consectetur sagittis auctor. Vivamus laoreet tempor sodales. Donec eget velit dolor. Donec ex purus, finibus ac pulvinar sit amet, aliquet quis ante. Aenean dictum tempor quam id lacinia. Vivamus eu magna vel neque dapibus consectetur eget ac risus. Nulla vitae feugiat orci. Ut faucibus pulvinar mauris vitae imperdiet. Cras volutpat varius felis at ullamcorper. Nunc eu mattis massa.
            </p>
    </div>
    <img class="customImg" src="../../../../assets/home.png" alt="">
</div>

<div class="container customContainer">
    <img class="customImg" src="../../../../assets/asesoria.jpg" width="450" height="500" alt="">
    <div class="container">
        <h1 class="customTitle">Asesorías</h1>
        <p class="customParagraph">orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus diam eget massa condimentum porta scelerisque non urna. Quisque finibus eget neque eget convallis. Cras non felis nisi. Integer eget mollis leo. Vestibulum in vehicula orci, vitae porttitor mi. Nunc lacinia mattis ante, eget bibendum sem efficitur eget. Integer cursus sapien velit, at molestie lectus dapibus at. Sed auctor nisi ac augue dapibus, ut vulputate tellus porta. Integer tincidunt sit amet tortor ut rhoncus. Morbi eu justo lacinia, aliquam justo in, blandit quam.
            Donec consectetur sagittis auctor. Vivamus laoreet tempor sodales. Donec eget velit dolor. Donec ex purus, finibus ac pulvinar sit amet, aliquet quis ante. Aenean dictum tempor quam id lacinia. Vivamus eu magna vel neque dapibus consectetur eget ac risus. Nulla vitae feugiat orci. Ut faucibus pulvinar mauris vitae imperdiet. Cras volutpat varius felis at ullamcorper. Nunc eu mattis massa.
            </p>
    </div>
</div>