<div class="customContainer">
    <div class="headerCard">
        <div class="content">
            <h2 class="customTitel">{{card.title}}</h2>
        </div>
    </div>
    <div class="bodyCard">
        <div class="custonRows">
            <ngx-charts-bar-vertical
            [view]="view"
            scheme="natural"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel">
          </ngx-charts-bar-vertical>
        </div>
    </div>
</div>