/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-scanck-bar{
    background-color: #AC0D0D;
    color: white;
}
.error-scanck-bar button{
    background-color: #AC0D0D;
    color: white;
    border: none;
}

.body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.body::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.body::-webkit-scrollbar-track:hover,
.body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
} 