/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-scanck-bar{
    background-color: #AC0D0D;
    color: white;
}
.error-scanck-bar button{
    background-color: #AC0D0D;
    color: white;
    border: none;
}

.body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.body::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.body::-webkit-scrollbar-track:hover,
.body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
} 

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, .8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-today-button:enabled{
    background-color: var(--fc-today-button,#000000) !important;
}

.fc-button{ 
    color: var(--fc-button-text-color,#fff) !important;
    background-color: var(--fc-button-active-bg-color,#000000) !important;
    border-color: var(--fc-button-active-border-color,black) !important;
}

.fc-event-main{
    background-color: #D78989;
}

.fc-event-title{
    color: var(--fc-event-text-color,black); 
    font-weight: 550; 
}

.fc-event-title-container {
    background-color: white !important;
}

.fc-event-title-container > .fc-event-title{
    color: black;
    font-weight: bolder;
}

.fc-event-main-frame > .fc-event-time{
    color: white !important;
}
.fc-toolbar-title{
    text-transform: capitalize;
}

.fc-col-header-cell-cushion:hover{
    color: black;
    cursor: context-menu;
}
.fc-col-header-cell-cushion{
    color: black;
    text-transform: capitalize;
}

.fc-col-header-cell{
    background-color: #E1E1E1;
}
.fc-daygrid-event-dot{
    border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid var(--fc-event-border-color,#AF5353) !important;
}
.fc-event-time{
    color: black !important;
}

.fc-daygrid-day-number{
    text-decoration: none;
    color: black !important;
}

.fc-day-today{
    background-color: #ECECEC !important;
    border-bottom: #AF5353 solid !important;
}

.fc-day-sun{
    display: none;
}