<h1 class="blockquote text-center customText">Horario programado</h1>
<div class="customContainer">
    <div class="infoCard smallContainer">
        <div>
            <div class="container customCont">
                <h2 class="card-title customTitel">{{ownerShow.userName}}</h2>
                <img class=" customImage" src="{{ownerShow.imageURI}}" alt="">
            </div>
        </div>
        <div class="card-body">
            <hr class="hide">
            <strong>Contacto</strong>
            <p class="mb-0 card-text">{{ownerShow.phone}} </p>
            <p class="mb-0 card-text">{{ownerShow.email}}</p>
            <hr>
            <strong>Fortalezas</strong>
            <p class="card-text">{{ownerShow.about}}</p>
        </div>
    </div>
    <div class="customCalendar">
        <app-calendar [typeUser]=typeUser ></app-calendar>
    </div>
</div>