.customText{
    margin-top: 4%;
    font-weight: 500;
    margin-bottom: 4%;
    justify-self: center;
}

.customContainer{
    display: grid;
    grid-template-rows: 400px 80%;
}

.customRow{
    padding-left: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}

.customGrid{
    padding-left: 5%;
    display: grid;
    grid-template-columns: 30% 62.5%;
    grid-column-gap: 3em;
}

.content2{
    align-self: center;
    justify-self: center;
    margin-left: 5%;
}

.bodyCard{
    display: grid;
    grid-template-rows: 20% 80%;
}


.customCard{
    height: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 10% 90%;
    align-content: center;
    -webkit-box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
    -moz-box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
    box-shadow: 0px 5px 5px -1px rgba(32, 32, 32, 0.48);
}

.customTables{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 1em;
}

.headerCard{
    border-radius: 10px 10px 0px 0px ;
    background-color: #d1d1d1;
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
}

.customTitel{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 25px;
}

.content{
    align-self: center;
    justify-self: start;
    margin-left: 5%;
}

@media (max-width: 1815px) {
    .customRow{
        padding-left: 5%;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 3em;
        grid-row-gap: 3em;
    }

    .customGrid{
        padding-left: 5%;
        display: grid;
        grid-template-columns: 94%;
        grid-column-gap: 3em;
        grid-row-gap: 3em;
    }

    .customCard{
        margin-top: 42px;
        height: 405px;
        width: 48%;
        justify-self: right;
        display: grid;
        grid-template-rows: 15% 85%;
    }
}

@media (max-width: 1250px) {
    .customRow{
        padding-left: 5%;
        display: grid;
        grid-template-columns: 95%;
        grid-column-gap: 3em;
        grid-row-gap: 3em;
    }

    .customGrid{
        padding-left: 5%;
        display: grid;
        grid-template-columns: 94%;
        grid-row-gap: 3em;
    }

    .customContainer{
        display: grid;
        grid-template-rows: 40% 55%;
    }

    .customCard{
        margin-top: 90px;
        height: 405px;
        width: 100%;
        display: grid;
        grid-template-rows: 15% 85%;
    }
}